table {
    width: 100%;
}

.component-table {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d4d7d5;
}

.component-header {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #d4d7d5;    
    font-size: 1.2em;
    font-weight: bold;
}

.component-select, .component-filter {
    margin-top: 15px;
}

.form-select{
    margin-right: 15px;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-mdc-row:nth-child(even){
    background-color: #edf0f3;
}
        
.mat-mdc-row:nth-child(odd){
    background-color: #ffffff;
}

.mat-mdc-raised-button:not(:disabled) {
    background-color: #007eff;
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: #007eff;
}