table {
    width: 100%;
}

.component-table {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d4d7d5;
}

.component-header {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #d4d7d5;    
    font-size: 1.2em;
    font-weight: bold;
}

.component-select, .component-filter, .component-table {
    margin-top: 15px;
}

.form-select{
    margin-right: 15px;
}

th.mat-sort-header-sorted {
    color: black;
}