<mat-toolbar color = "primary">
  <span class="toolbar-app-name">Countries API</span>
  <mat-icon class="toolbar-icon">outlined_flag</mat-icon>
  <span class="tooblar-page" [ngClass]="{'active': currentTab === 'countries'}" (click)="setTab('countries')" routerLink="/countries" routerLinkActive="active" ariaCurrentWhenActive="page">
    Countries
  </span>
  <span class="tooblar-page" [ngClass]="{'active': currentTab === 'indicators'}" (click)="setTab('indicators')" routerLink="/indicators" routerLinkActive="active" ariaCurrentWhenActive="page">
    Indicators
  </span>
</mat-toolbar>

<div class="body-component">
  <router-outlet></router-outlet>
</div>
